* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--blue);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--orange);
        border-radius: 1em;
    }
    overflow-x: hidden;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}