div {
  padding: 3em;
}
div#discord {
  color: #fff;
  background-color: var(--blue);
}
div#discord h2 {
  margin-bottom: 1rem;
}
div#discord a {
  text-decoration: none;
  background-color: var(--orange);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
}
div#discord a img {
  width: 30px;
  filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(14deg) brightness(103%) contrast(104%);
  justify-self: center;
}
div#discord a p {
  display: inline;
  color: #fff;
  font-size: 1em;
  padding: 0;
}

/* -------------------- PORTRAIT TABLET -------------------- */
/* -------------------- LANDSCAPE TABLET -------------------- */
/* -------------------- DESKTOP -------------------- */
/* -------------------- LARGE DESKTOP -------------------- */