/*---------- Models 3D ----------*/
.sketchfab-embed-wrapper {
    iframe {
        background-color: var(--orange);
        border-radius: 1em;
        width: 300px;
        height: 300px;
    }
}

/*---------- Animations ----------*/
.anim {
    border-radius: 1em;
    width: 300px;
}

/*---------- Jeux ----------*/
.jeu {
    display: none;
}

/* -------------------- PORTRAIT TABLET -------------------- */
@media screen and (min-width: 600px) {
    /*---------- Models 3D ----------*/
    .sketchfab-embed-wrapper {
        iframe {
            width: 640px;
            height: 360px;
        }
    }

    /*---------- Animations ----------*/
    .anim {
        width: 640px;
    }

    /*---------- Jeux ----------*/
    .jeu {
        display: inline-block;
        h3 {
            font-size: 3em;
        }
        div {
            background-color: var(--orange);
            border-radius: 1em;
            position: relative;
            width: 640px;
            height: 360px;
            overflow: hidden;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        button {
            cursor: pointer;
            position: absolute;
            color: #fff;
            background-color: var(--blue);
            left: 50%;
            top: 50%;
            width: 100px;
            height: 100px;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            span {
                font-size: 6em;
                align-self: center;
                justify-self: center;
            }
        }
    }
}

/* -------------------- LANDSCAPE TABLET -------------------- */
@media screen and (min-width: 768px) {
}

/* -------------------- DESKTOP -------------------- */
@media screen and (min-width: 992px) {
}

/* -------------------- LARGE DESKTOP -------------------- */
@media screen and (min-width: 1200px) {
}