@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "boilerplate";

:root {
    --orange: #f2a25c;
    --blue: #190f29;
}

body {
    background-color: var(--orange);
    transition: clip-path 1s ease-in;
    clip-path: ellipse(0 0 at 50% 0);
    #transition {
        background-color: var(--orange);
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: clip-path 1s ease-out;
        clip-path: ellipse(0 0 at 50% 0);
    }
    h1 {
        font-size: 3em;
        font-family: "DM Serif Display";
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
        margin: 0 auto;
        width: 50vw;
        padding: 1rem;
    }
    main {
        background-color: #fff;
        text-align: center;
        margin-top: 32px;
        height: 100vh;
    }
    header {
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        transition: top 0.5s;
        &.hide {
            top: -216px;
        }
        nav {
            background-color: var(--blue);
            padding: 0.5em;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 1em;
                button {
                    color: #fff;
                    display: flex;
                    font-size: 1.5em;
                    transition: color 0.5s;
                    &:hover {
                        color: var(--orange);
                    }
                    &.currentPage {
                        color: var(--orange);
                        border-bottom: var(--orange) solid 2px;
                    }
                    img {
                        height: 60px;
                    }
                }
            }
        }
        nav.secondary {
            background-color: var(--orange);
            height: 32px;
            justify-content: center;
            font-size: 0.75em;
            z-index: 0;
            padding: 0;
            ul {
                flex-direction: row;
                opacity: 1;
                transition: opacity 0.5s, top 1s;
                position: absolute;
                align-self: center;
                top: 2px;
                &.hide {
                    opacity: 0;
                    transition: opacity 0.5s, top 1s;
                    top: -30px;
                }
                button {
                    color: #fff;
                    font-size: 1.5em;
                    transition: color 0.5s;
                    &:hover {
                        color: var(--blue);
                    }
                    &.currentContent {
                        color: var(--blue);
                        border-bottom: var(--blue) solid 2px;
                    }
                }
            }
            #expand {
                display: block;
                position: absolute;
                right: 0;

                span {
                    font-size: 3em;
                }
            }
        }
    }
}

/* -------------------- PORTRAIT TABLET -------------------- */
@media screen and (min-width: 600px) {
    body {
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1em;
        }
        main {
            margin-top: 0;
        }
        header {
            position: static;
            nav {
                padding: 0.5em;
                height: 60px;
                display: flex;
                flex-direction: row;
                position: relative;
                z-index: 1;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    img {
                        height: 60px;
                        align-self: center;
                    }
                }
            }
            nav.secondary {
                ul {
                    top: 2px;
                    li button {
                        font-size: 1.5em;
                    }
                }
                ul.hide {
                    top: -30px;
                }
                #expand {
                    display: none;
                }
            }
        }
    }
}

/* -------------------- LANDSCAPE TABLET -------------------- */
@media screen and (min-width: 768px) {
}

/* -------------------- DESKTOP -------------------- */
@media screen and (min-width: 992px) {
}

/* -------------------- LARGE DESKTOP -------------------- */
@media screen and (min-width: 1200px) {
}
