@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

:root {
  --orange: #f2a25c;
  --blue: #190f29;
}

h1 {
  font-size: 3em;
  font-family: "DM Serif Display";
  margin-bottom: 2rem;
}

h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5em;
}

main {
  text-align: center;
  margin-top: 32px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: top 0.5s;
}
header.hide {
  top: -216px;
}
header nav {
  background-color: var(--blue);
  padding: 0.5em;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
header nav ul a {
  display: flex;
  font-size: 1.5em;
  transition: color 0.5s;
}
header nav ul a:hover {
  color: var(--orange);
}
header nav ul a.currentPage {
  color: var(--orange);
  border-bottom: var(--orange) solid 2px;
}
header nav ul a img {
  height: 60px;
}
header nav.secondary {
  background-color: var(--orange);
  height: 32px;
  justify-content: center;
  font-size: 0.75em;
  z-index: 0;
  padding: 0;
}
header nav.secondary ul {
  flex-direction: row;
  opacity: 1;
  transition: opacity 0.5s, top 1s;
  position: absolute;
  align-self: center;
  top: 2px;
}
header nav.secondary ul.hide {
  opacity: 0;
  transition: opacity 0.5s, top 1s;
  top: -30px;
}
header nav.secondary ul button {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.5s;
}
header nav.secondary ul button:hover {
  color: var(--blue);
}
header nav.secondary ul button.currentContent {
  color: var(--blue);
  border-bottom: var(--blue) solid 2px;
}
header nav.secondary #expand {
  display: block;
  position: absolute;
  right: 0;
}
header nav.secondary #expand span {
  font-size: 3em;
}

/* -------------------- PORTRAIT TABLET -------------------- */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1em;
  }
  main {
    margin-top: 0;
  }
  header {
    position: static;
  }
  header nav {
    padding: 0.5em;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  header nav ul img {
    height: 60px;
    align-self: center;
  }
  header nav.secondary ul {
    top: 2px;
  }
  header nav.secondary ul li button {
    font-size: 1.5em;
  }
  header nav.secondary ul.hide {
    top: -30px;
  }
  header nav.secondary #expand {
    display: none;
  }
}
/* -------------------- LANDSCAPE TABLET -------------------- */
/* -------------------- DESKTOP -------------------- */
/* -------------------- LARGE DESKTOP -------------------- */