@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: var(--blue);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 1em;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

:root {
  --orange: #f2a25c;
  --blue: #190f29;
}

body {
  background-color: var(--orange);
  transition: -webkit-clip-path 1s ease-in;
  transition: clip-path 1s ease-in;
  transition: clip-path 1s ease-in, -webkit-clip-path 1s ease-in;
  -webkit-clip-path: ellipse(0 0 at 50% 0);
          clip-path: ellipse(0 0 at 50% 0);
}
body #transition {
  background-color: var(--orange);
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: -webkit-clip-path 1s ease-out;
  transition: clip-path 1s ease-out;
  transition: clip-path 1s ease-out, -webkit-clip-path 1s ease-out;
  -webkit-clip-path: ellipse(0 0 at 50% 0);
          clip-path: ellipse(0 0 at 50% 0);
}
body h1 {
  font-size: 3em;
  font-family: "DM Serif Display";
}
body h2 {
  font-size: 2em;
}
body p {
  font-size: 1.5em;
  margin: 0 auto;
  width: 50vw;
  padding: 1rem;
}
body main {
  background-color: #fff;
  text-align: center;
  margin-top: 32px;
  height: 100vh;
}
body header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: top 0.5s;
}
body header.hide {
  top: -216px;
}
body header nav {
  background-color: var(--blue);
  padding: 0.5em;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
body header nav ul button {
  color: #fff;
  display: flex;
  font-size: 1.5em;
  transition: color 0.5s;
}
body header nav ul button:hover {
  color: var(--orange);
}
body header nav ul button.currentPage {
  color: var(--orange);
  border-bottom: var(--orange) solid 2px;
}
body header nav ul button img {
  height: 60px;
}
body header nav.secondary {
  background-color: var(--orange);
  height: 32px;
  justify-content: center;
  font-size: 0.75em;
  z-index: 0;
  padding: 0;
}
body header nav.secondary ul {
  flex-direction: row;
  opacity: 1;
  transition: opacity 0.5s, top 1s;
  position: absolute;
  align-self: center;
  top: 2px;
}
body header nav.secondary ul.hide {
  opacity: 0;
  transition: opacity 0.5s, top 1s;
  top: -30px;
}
body header nav.secondary ul button {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.5s;
}
body header nav.secondary ul button:hover {
  color: var(--blue);
}
body header nav.secondary ul button.currentContent {
  color: var(--blue);
  border-bottom: var(--blue) solid 2px;
}
body header nav.secondary #expand {
  display: block;
  position: absolute;
  right: 0;
}
body header nav.secondary #expand span {
  font-size: 3em;
}

/* -------------------- PORTRAIT TABLET -------------------- */
@media screen and (min-width: 600px) {
  body h1 {
    font-size: 4em;
  }
  body p {
    font-size: 1em;
  }
  body main {
    margin-top: 0;
  }
  body header {
    position: static;
  }
  body header nav {
    padding: 0.5em;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
  }
  body header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  body header nav ul img {
    height: 60px;
    align-self: center;
  }
  body header nav.secondary ul {
    top: 2px;
  }
  body header nav.secondary ul li button {
    font-size: 1.5em;
  }
  body header nav.secondary ul.hide {
    top: -30px;
  }
  body header nav.secondary #expand {
    display: none;
  }
}
/* -------------------- LANDSCAPE TABLET -------------------- */
/* -------------------- DESKTOP -------------------- */
/* -------------------- LARGE DESKTOP -------------------- */